<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DBConnection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/contractor</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
        <property name="connection_pool_size">4</property>
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <mapping class="com.contractor.model.entity.Company"/>
        <mapping resource="Company.hbm.xml"/>
        <mapping class="com.contractor.model.entity.Job"/>
        <mapping resource="Job.hbm.xml"/>
        <mapping class="com.contractor.model.entity.JobCategory"/>
        <mapping resource="JobCategory.hbm.xml"/>
        <mapping class="com.contractor.model.entity.NotificationToken"/>
        <mapping resource="NotificationToken.hbm.xml"/>
        <mapping class="com.contractor.model.entity.Pricing"/>
        <mapping resource="Pricing.hbm.xml"/>
        <mapping class="com.contractor.model.entity.PricingPlan"/>
        <mapping resource="PricingPlan.hbm.xml"/>
        <mapping class="com.contractor.model.entity.SessionToken"/>
        <mapping resource="SessionToken.hbm.xml"/>
        <mapping resource="UserRole.hbm.xml"/>
        <mapping class="com.contractor.model.entity.UserRole"/>
        <mapping class="com.contractor.model.entity.Users"/>
        <mapping resource="Users.hbm.xml"/>
        <mapping class="com.contractor.model.entity.JobStatus"/>
        <mapping resource="JobStatus.hbm.xml"/>
        <!-- Annotated entity classes -->

    </session-factory>
</hibernate-configuration>